
{% extends 'base.html' %}
{% block content %}
<h1>Horas disponibles</h1>
<form method="post">
    {% csrf_token %}
    <!-- Otros campos del formulario -->
    <input type="datetime-local" name="hour" required>
    <button type="submit">Reservar</button>
  </form>
  
<form method="POST" action="{% url 'available_hours' %}">
  {% csrf_token %}
  <ul>
    {% for hour in hours %}
      <li>
        <input type="radio" name="hour" value="{{ hour }}">
        {{ hour }}
      </li>
    {% endfor %}
  </ul>
  <input type="submit" value="Reservar">

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}


</form>


{% endblock%}
